[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extern/imgui/imgui"]
	path = extern/imgui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "extern/assimp"]
	path = extern/assimp
	url = https://github.com/assimp/assimp.git
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "extern/taskflow"]
	path = extern/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "extern/freetype"]
	path = extern/freetype
	url = https://github.com/freetype/freetype.git
[submodule "extern/zlib-ng"]
	path = extern/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "extern/tomlplusplus"]
	path = extern/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
